/* estrutura da pagina */

body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

/* divisoes da pagina */

.topo {
  height: 80px;
}
.rodape {
  background-color: #FBFBFB;
  height: 216px;
}

/* conteudo do topo */

.menu {
  width: 245px;
}

.organiza_menu{
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.menu ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  color: #505F98;
  font-size: 14px;
  
}
.acao{
  width: 245px;
  text-align: right;
}
.btn {
  border: none;
  background-color: #111B47;
  padding: 9px 75px;
  border-radius: 2px;
  font-family: 'Roboto';
  color: #fff;
}

/* conteúdo do meio */ 

.group{
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}
.group-img img{
  height: 500px;
}
.group-text{
  padding-right: 30px;
}
.group-text h1{
  font-size: 36px;
  font-weight: 500;
}
.group-text p{
  font-weight: 300;
  color: #6F7CB2;
}
.group-text button{
  margin-top: 25px;
  padding: 12px 65px;
  font-size: 16px;
}

/* rodapé */ 

.rodape-divs{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rodape-parte1{
  padding-bottom: 20px;
  padding-top: 50px;
  border-bottom: 1px solid #ccc;
}
h5{
  font-weight: 400;
}
.acao-rodape{
  width: 150px;
  text-align: right;
}
.btn-rodape{
  border: none;
  background-color: #111B47;
  padding: 7px 50px;
  border-radius: 2px;
  font-family: 'Roboto';
  color: #fff;
}
.rodape-parte2{
  padding: 15px 0;
}
.rodape-menu ul, .rodape-icons ul{
  list-style: none;
  display: flex;
  width: 245px;
  justify-content: space-between;
  padding: 0;
}
.rodape-menu ul li{
  font-size: 14px;
  font-weight: 400;
  color: #6F7CB2;
}
