@import "../../styles/base.scss";

.menu {
  width: 245px;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    color: #505f98;
    font-size: 14px;
  }
}
