@import "../../styles/base.scss";

.rodape {
  background-color: #fbfbfb;
  padding: 20px 0;
  .rodape-divs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .rodape-parte1 {
      padding-bottom: 20px;
      padding-top: 50px;
      border-bottom: 1px solid #ccc;
      h5 {
        font-weight: 400;
      }
    }
    & .rodape-parte2 {
      padding: 15px 0;
    }
  }
  .rodape-icons ul {
    list-style: none;
    display: flex;
    width: 245px;
    justify-content: space-between;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  /* button{
        display: none;
    } */
  .rodape {
    height: auto;
  }
  .rodape-divs {
    flex-direction: column-reverse;
    align-items: center;
  }
  .btn-rodape {
    display: none;
  }
}
